.language {
    background-color: rgba(0, 34, 128, 0.123);
}

.technology {
    background-color: rgba(255, 0, 0, 0.288);
}

.buttonGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(8, 1fr);     */
    /* max-width:  1000px; */
    margin: 0 auto;
    gap: .5rem;
    margin-bottom: 30px;
    max-width: 900px;
}

.buttonGridMobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(8, 1fr);     */
    /* max-width:  1000px; */
    margin: 0 auto;
    /* row-gap: .5rem;
    column-gap: -0.0rem; */
    margin-bottom: 10px;
    max-width: 95%;
}

.noSelect {
    user-select: none;
}

#toggled {
    background-color: cornflowerblue;
    color: white;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: black;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap;
  }

.buttonMobile {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 5px 5px;
    border: none;
    color: black;
    background-color: #e4e4e4;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap;
}

