.language {
    background-color: rgba(0, 34, 128, 0.123);
}

.technology {
    background-color: rgba(255, 0, 0, 0.288);
}

.buttonGrid {
    display: flex;
    /* grid-template-columns: repeat(3, 1fr);     */
    max-width:  1000px;
    margin: 0 auto;
    gap: 1rem;
    margin-bottom: 30px;
}
     
.card {
    /* height: 200px; */
    border-radius: 4px;
    padding: 5px;
    color: black;
}

.noSelect {
    user-select: none;
}

.toggled {
    background-color: red;
}