.language {
    background-color: rgba(0, 34, 128, 0.123);
}

.technology {
    background-color: rgba(255, 0, 0, 0.288);
}

.buttonGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-template-columns: repeat(8, 1fr);     */
    /* max-width:  1000px; */
    margin: 0 auto;
    gap: 1rem;
    margin-bottom: 30px;
    max-width: 900px;
}
     
.card {
    /* height: 200px; */
    border-radius: 4px;
    padding: 5px;
    color: black;
}

.noSelect {
    user-select: none;
}

.toggled {
    background-color: cornflowerblue;
    color: white;
}

button {
 
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: black;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap;
  }

      /* background-color: cornflowerblue; */

.buttonNewLine {
    float: left;
}
