@media (max-width: 700px) {
  * {
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  * {
    margin: 0;
  }
}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  width: 100%;
  margin-bottom: -65px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.siteFooter, .page-wrap:after {
  height: 75px; 
}
.siteFooter {
  background: white;
  text-align: center;
  font-size: small;
  margin-bottom: 500px;
  margin-top: 50px;
}

.siteFooterMobile {
  max-width: 80%;
  background: white;
  text-align: center;
  font-size: small;
  margin-top: 0px;
  margin: 0 auto;
}

.footerIcon {
  margin-top: 3px;
  margin-right: 3px;
  height: 35px;
  margin-bottom: 50px;
}

.footerIconMobile {
  margin-top: 3px;
  margin-right: 3px;
  height: 35px;
  margin-bottom: 20px;
}
