.resumeHeader {
    color: red;
    font-size: xx-large;
}

.resumeDate {
    color: rgb(187, 187, 187);
    font-size: medium;
    padding-left: 25px;
}

.expTitle {
    font-size: x-large;
}

.jobSummary {
    padding: 25px;
}

@media (min-width: 500px) {
    .resumeFormat {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (max-width: 500px) {
    .resumeFormat {
        padding-right: 20px;
        padding-left: 20px;
    }
}


.resumeFormat {
    line-height: 1.2;
    padding-top: 80px;
}

.sectionDivides {
    padding-bottom: 10px;
}

ul { 
    padding-top: 10px;
}

.logoIcon {
    height: 35px;
    padding-top: 6px;
    padding-left: 8px;
}