/* $grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl:
1400px ); */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;     
    grid-gap: 1rem;
    display: inline-block;
}
     
/* .card {
    border: 2px solid whitesmoke;
    border-radius: 4px;
    padding: .5rem;
    background-color: lightsteelblue;    
} */

img {
    height: 280px;
}