.modalBackground {
  margin-top: -50px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, .7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContainer {
  width: 500px;
  height: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

/*  */

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.modalImg {
  object-fit: cover;
}

/* START HERE FOR MOBILE LANDSCAPE */

@media (orientation: landscape) {

  .modalContainerMobile {
    margin-top: 8%;
    width: 80%;
    height: 60%;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
  }

  .modalContainerMobile .title {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }

  .modalContainerMobile .body {
    /* flex: 50%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 1.2rem;
    text-align: center;
    width: 82%;
    margin: 0 auto;
  }

  .modalContainerMobile .footer {
    /* flex: 20%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .modalContainerMobile .footer button {
    width: 125px;
    height: 45px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    padding: 0 5px 0px 5px;
  }

  .modalImgMobile {
    /* width: 75%; */
    /* height:fit-content; */
    display: none;
  }
}

/* START HERE FOR MOBILE PORTRAIT */

@media (orientation: portrait) {
  .modalContainerMobile {
    width: 90%;
    height: 50%;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
  }

  .modalContainerMobile .title {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }

  .modalContainerMobile .body {
    /* flex: 50%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 1.2rem;
    text-align: center;
    width: 82%;
  }

  .modalContainerMobile .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 93%;
  }

  .modalContainerMobile .footer button {
    width: 125px;
    height: 45px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px auto;
    padding: 0 5px 0px 5px;
  }

  .modalImgMobile {
    /* width: 75%; */
    /* height:fit-content; */
    display: none;
  }
}


/*  */

#disabledButton {
  background-color: gray;
}

#cancelBtn {
  background-color: crimson;
}