
@media (max-width: 930px) {
    .headshot {
        
    }
    
    .aboutHeader {
        color: blue;
        font-size: xx-large;
        align: center;
    }
    
    .aboutSummary {
        width: 500px;
        padding: 25px;
        display: flex;
        
    }
    
    .homeFormat {
        line-height: 1.2;
        padding-left: 50px;
        padding-top: 30px;
        padding-right: 50px;
    }
    
}

@media (min-width: 930px) {
    .headshot {
        float: right;
    }
    
    .aboutHeader {
        color: red;
        padding-left: 50px;
        font-size: xx-large;
    }
    
    .aboutSummary {
        width: 500px;
        padding: 25px;
        display: flex;
        
    }
    
    .homeFormat {
        line-height: 1.2;
        padding-left: 50px;
        padding-top: 30px;
        padding-right: 50px;
    }
    
}

@media (min-width: 1000px) {
    .sectionDivides {
        width: 950px;
        margin: auto;
    }
    .headshot {
        float: right;
    }
    
    .aboutHeader {
        color: green;
        font-size: xx-large;
        padding-left: 50px;
    }
    
    .aboutSummary {
        width: 500px;
        padding: 25px;
        display: flex;
        
    }
    
    .homeFormat {
        line-height: 1.2;
        padding-left: 50px;
        padding-top: 30px;
        padding-right: 50px;
    }
    
}