.headshot {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 80%;
    margin-right: 50px;
}

@media (max-width: 1000px) {
    .sectionDivides {
        width: 500px;
        margin: 0 auto;
    }

    .headshot {
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    .aboutHeader {
        font-size: xx-large;
        margin: 0 auto;
        text-align: center;
    }
    
    .aboutSummary {
        width: 500px;
        padding: 25px;
        display: flex;
        margin: auto;
        text-align: center;
    }
    
    .homeFormat {
        line-height: 1.2;
        padding-top: 80px;
        padding-right: 50px;
    }
    
}

/* @media (min-width: 1000px) {
    .headshot {
        float: right;
    }
    
    .aboutHeader {
        margin-top: 15px;
        margin-left: 50px;
        font-size: xx-large;
    }
    
    .aboutSummary {
        width: 500px;
        padding: 25px;
        display: flex;
    }
    
    .homeFormat {
        line-height: 1.2;
        padding-left: 50px;
        padding-top: 30px;
        padding-right: 50px;
        position: absolute;
    }
    
} */

@media (min-width: 1000px) {
    .sectionDivides {
        width: 950px;
        margin: auto;
    }
    .headshot {
        float: right;
        position: right;
    }
    
    .aboutHeader {
        margin-top: 15px;
        font-size: xx-large;
        
    }
    
    .aboutSummary {
        width: 500px;
        padding: 25px;
        display: flex;
        
    }
    
    .homeFormat {
        line-height: 1.2;
        padding-left: 50px;
        padding-top: 80px;
        padding-right: 50px;
    }
    
}