.githubComponent {
    position: absolute;
    margin-top: 50px;
    width: 950px;
}

.footnote {
    /* color:darkgray; */
    font-size: small;
    margin-top: 4px;
    margin-right: 120px;
    text-align: right;
}