.githubComponent {
    position: relative center;
    margin-top: 25px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#mobileGithubContributions {
    margin-top: px;
    text-align: center;
    margin-bottom: -10px;
}


.footnote {
    /* color:darkgray; */
    font-size: small;
    margin-top: 4px;
    margin-left: 40px;
    text-align: right;
    position: absolute;
}

.footnoteMobile {
    margin-top: 10px;
    /* font-size: small; */
    
}

.githubIcon {
    height: 35px;
    padding-left: 8px;
}